<mat-toolbar color="primary">
  <button mat-button class="sidenav-toggle" (click)="toggleSidenav.emit()">
    <mat-icon aria-label="Drawer Menu" svgIcon="menu"></mat-icon>
  </button>
  <span>A .Net Core Blog</span>
  <span class="toolbar-spacer"></span>
  <button mat-button [matMenuTriggerFor] = "menu">
    <mat-icon svgIcon="more_vert"></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Sign In</button>
    <button mat-menu-item>Sign Out</button>
  </mat-menu>
</mat-toolbar>
